<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.ProblemMapper">

    <resultMap id="BaseResultMap" type="org.example.pojo.Problem">
            <id property="pid" column="pid" jdbcType="INTEGER"/>
            <result property="did" column="did" jdbcType="INTEGER"/>
            <result property="article" column="article" jdbcType="VARCHAR"/>
            <result property="time" column="time" jdbcType="TIMESTAMP"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        pid,did,article,
        time,version,is_deleted
    </sql>
    <select id="selectPromblems" resultType="Map">
        select p.pid, p.did, d.dname, p.article, date_format(time,'%Y-%m-%d') as time
        from problem p join drug d
        on p.did = d.did
        where p.is_deleted = 0
    </select>
</mapper>
